@import url("main.css");

.app { 
	display: flex;
	flex-flow: column;
	height: 100vh;
}
.app-header {
	color: white;
	background: linear-gradient(30deg, #f60 55%, #ff9900);
	margin: 0;
	flex: 1;
	display: flex;
	flex-direction: row;

	height:50px
}
.app-body {
	flex: 1;
	display: flex;
	flex-direction: column;

	height: calc(100vh - 50px);
	background-color: #efe;
}



/*** .app-header ***/
.hdr-toolbar {
	float:right;
	text-align: right;
	color: #333;
	padding-right: 8px;
}
.hdr-toolbar span {
	float:right;
	padding-right: 8px;
	cursor: pointer;
}

.app-title {
	margin: 15px auto;
	font-size: 1.5em;
}
.app-title img {
	width: 24px;
	margin-right: 10px;
}


/*** .app-body **/
page-manager {
	padding: 0;
	margin: 0;
	height: calc(100vh - 50px);
}
